<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<script src="https://www.gstatic.com/firebasejs/5.7.3/firebase.js"></script>
<script>
  // Initialize Firebase
  const config = {
    apiKey: "AIzaSyCbyaL8VYdAtBy_ObpxA573l-1F2GCEC00",
    authDomain: "idea-board-bd745.firebaseapp.com",
    databaseURL: "https://idea-board-bd745.firebaseio.com",
    projectId: "idea-board-bd745",
    storageBucket: "idea-board-bd745.appspot.com",
    messagingSenderId: "372354703196"
  };
  firebase.initializeApp(config);
</script>
