<form method="POST" id="form" action="/test/delete">
  Name: <input type="text" name="name" id="name" /><br />
  ID: <input type="text" name="id" id="id" /><br />
</form>

<button id="submit">Submit</button>

<script>
window.onload = function() {
  document.getElementById("submit").onclick = function(e) {
    e.preventDefault()
    const form = document.getElementById("form")
    form.submit()
  }
}
</script>
